.link {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  gap: 0.6em;
  padding: 0.8em 1.3em;
  border-left: 5px solid transparent;

  font-family: 'Poppins', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.9rem;
  color: #000000;
  opacity: 0.8;

  text-decoration: none;
  transition: all 0.3s ease-in;

  &:hover {
    opacity: 1;
    background: #eeeae7;
  }

  &--active {
    border-left: 5px solid rgba(237, 188, 74, 1);
    background: rgba(237, 188, 74, 0.2);
  }

  &__icon {
    display: flex;
    align-items: center;
    width: 32px;
    height: 32px;
  }
}
