.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  max-width: 580px;
  margin: 7.4em auto 0px auto;
  padding: 0px 1em;

  &__logo {
    margin: 5.5em auto;
  }

  &__title {
    text-align: center;
    font-family: 'Poppins', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2.3rem;
    line-height: 3rem;
  }

  &__btn {
    margin: 1.8em auto;
  }
}
