.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  max-width: 580px;
  margin: 7.4em auto 0px auto;
  padding: 0px 1em;

  &__logo {
    margin: 1.5em auto;
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  &__title {
    text-align: center;
    font-family: 'Poppins', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2.3rem;
    line-height: 3rem;

    margin: 0;
  }

  &__btn {
    margin: 1em auto;
  }
}
