.table {
  width: 100%;
  min-width: 1200px;
  table-layout: fixed;
  border-collapse: collapse;
  margin-top: 0.8em;
  white-space: nowrap;

  font-family: 'Poppins', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.9rem;
  color: #000000;
}
